<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.bamboo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".utils.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bamboo">
        <activity android:name=".view.activity.postcreate.PostCreateActivity">

        </activity>
        <activity android:name=".view.activity.signin.SignInActivity"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity android:name=".view.activity.main.AdminActivity"/>
        <activity android:name=".view.activity.splash.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.main.MainActivity">

        </activity>
    </application>

</manifest>